@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

header h1 {
	text-align: center;
}

footer {
	text-align: center;
	padding-top: 15%;
}

/*Classes
--------------------------------------------------------------*/
.clickImageInfo {
	text-align: center;
}

.indexLinks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.indexLinks h3 {
	text-align: center;
}

.indexLinks img {
	object-fit: cover;
	width: 300px;
	height: 300px;
}

.logo {
	border: dotted 1px darkgray;
}

.nav {
	border: dotted 1px darkgray;
}

.country_image {
	display: flex;
	justify-content: center;
}

.country_image img {
	object-fit: cover;
	width: 50%;
	height: 400px;
	justify-self: center;
}

.headline {
	font-size: 175%;
	text-align: center;
}

.parent {
	display: flex;
	justify-content: center;
}

.parent h3 {
	text-align: center;
}

.cities {
	padding: 0em 2em;
	margin: 0em 2em;
}

.landmarks {
	padding: 0em 2em;
	margin: 0em 2em;
}

.citizens {
	padding: 0em 2em;
	margin: 0em 2em;

.icelandPage h1, .icelandPage .headline {
	background-color: cornflowerblue;
}